In [27]:
for i in range(5):
    for j in range(i,5):
        print('5', end="")
    print()

55555
5555
555
55
5

In [28]:
rows = 5

for i in range(rows, 0, -1):

    for j in range(0, i + 1):

        print(j, end='')

    print()

012345
01234
0123
012
01

In [29]:
rows = 5

i = 1

while i <= rows:

    j = 1

    while j <= i:

        print( 2*i-1, end="")

        j = j + 1

    i = i + 1

    print()

1
33
555
7777
99999

In [30]:
rows = 6

for row in range(1, rows):

    for column in range(row, 0, -1):

        print(column, end='')

    print()

1
21
321
4321
54321

In [31]:
start = 1

stop = 2

currentNumber = stop

for row in range(2, 6):

    for col in range(start, stop):

        currentNumber -= 1

        print(currentNumber, end='')

    print()

    start = stop

    stop += row

    currentNumber = stop

1
32
654
10987

In [32]:

from math import factorial

n = 7
for i in range(n):
    for j in range(i+1):
        print(factorial(i)//(factorial(j)*factorial(i-j)), end=" ")
        
    print()

1
1 1
1 2 1
1 3 3 1
1 4 6 4 1
1 5 10 10 5 1
1 6 15 20 15 6 1

In [33]:
for i in range(1,6):
    for j in range(1,6):
        if (j <= i):
            print(i, end= " ")
        else:
            print(j, end= " ")
    print()

1 2 3 4 5
2 2 3 4 5
3 3 3 4 5
4 4 4 4 5
5 5 5 5 5

In [34]:
rows = 7

for i in range(1, rows):

    for j in range(1, i + 1):

        print(i * j, end=' ')

    print()

1
2 4
3 6 9
4 8 12 16
5 10 15 20 25
6 12 18 24 30 36

In [35]:
rows = 5  
k = 2 * rows - 2  
 
for i in range(rows, -1, -1):  
    for j in range(k, 0, -1):  
        print(end=" ")  
    k = k + 1   
    for j in range(0, i + 1):  
        print("*", end=" ")  
    print("")

        * * * * * *
         * * * * *
          * * * *
           * * *
            * *
             *

In [36]:
n = 7 
m = (2 * n) - 2  
for i in range(0, n):  
    for j in range(0, m):  
        print(end=" ")  
    m = m - 1  
    for j in range(0, i + 1):  
        print("* ", end=' ')  
    print(" ")

            *
           *  *
          *  *  *
         *  *  *  *
        *  *  *  *  *
       *  *  *  *  *  *
      *  *  *  *  *  *  *

In [37]:
rows = 6  
  
for i in range(0, rows):    
    for j in range(0, i + 1):  
        print("*", end=' ')   
    print(" ")  
print() 
for i in range(rows + 1, 0, -1):  
    for j in range(0, i - 1):  
        print("*", end=' ')  
    print(" ")

*
* *
* * *
* * * *
* * * * *
* * * * * *

* * * * * *
* * * * *
* * * *
* * *
* *
*

In [38]:
rows = 5  
  
for i in range(0, rows):    
    for j in range(0, i + 1):  
        print("*", end=' ')   
    print(" ")  
for i in range(rows , 0, -1):  
    for j in range(0, i - 1):  
        print("*", end=' ')  
    print(" ")

*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*

In [39]:
rows = 5
i = 1
while i <= rows:
    j = i
    while j < rows:
        # display space
        print(' ', end=' ')
        j += 1
    k = 1
    while k <= i:
        print('*', end=' ')
        k += 1
    print()
    i += 1

i = rows
while i >= 1:
    j = i
    while j <= rows:
        print(' ', end=' ')
        j += 1
    k = 1
    while k < i:
        print('*', end=' ')
        k += 1
    print('')
    i -= 1

        *
      * *
    * * *
  * * * *
* * * * *
  * * * *
    * * *
      * *
        *

In [40]:
rows = 5
i = 0
while i <= rows - 1:
    j = 0
    while j < i:
        # display space
        print('', end=' ')
        j += 1
    k = i
    while k <= rows - 1:
        print('*', end=' ')
        k += 1
    print()
    i += 1

i = rows - 1
while i >= 0:
    j = 0
    while j < i:
        print('', end=' ')
        j += 1
    k = i
    while k <= rows - 1:
        print('*', end=' ')
        k += 1
    print('')
    i -= 1

* * * * *
 * * * *
  * * *
   * *
    *
    *
   * *
  * * *
 * * * *
* * * * *

In [41]:
rows = 14
print("*" * rows, end="\n")
i = (rows // 2) - 1
j = 2
while i != 0:
    while j <= (rows - 2):
        print("*" * i, end="")
        print("_" * j, end="")
        print("*" * i, end="\n")
        i = i - 1
        j = j + 2

**************
******__******
*****____*****
****______****
***________***
**__________**
*____________*